@model prueba.Models.Presupuesto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Presupuesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PresupuestoId" />
            <div class="form-group">
                <label asp-for="Unidad" class="control-label"></label>
                <input asp-for="Unidad" class="form-control" />
                <span asp-validation-for="Unidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoBienServicio" class="control-label"></label>
                <input asp-for="TipoBienServicio" class="form-control" />
                <span asp-validation-for="TipoBienServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitario" class="control-label"></label>
                <input asp-for="ValorUnitario" class="form-control" />
                <span asp-validation-for="ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAdquision" class="control-label"></label>
                <input asp-for="FechaAdquision" class="form-control" />
                <span asp-validation-for="FechaAdquision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor" class="control-label"></label>
                <input asp-for="Proveedor" class="form-control" />
                <span asp-validation-for="Proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documentacion" class="control-label"></label>
                <input asp-for="Documentacion" class="form-control" />
                <span asp-validation-for="Documentacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
